/*--------------
   google fonts 
----------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: #FFFFFF;
}

/*-----------------------------
          header style
--------------------------------*/
header {
    height: 450px;
    width: 1140px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: #161616;
    margin-top: 30px;
    margin-left: 100px;
}

.container {
    display: flex;
}

.description {
    width: 50%;
    color: white;
    margin-left: 50px;
    padding: 50px;
}

.title {
    font-size: 40px;
}

.description p {
    margin: 30px 0;
}

.description a {
    text-decoration: none;
    border: 2px solid #DD0000;
    border-radius: 5px;
    background-color: #DD0000;
    padding: 7px;
    color: white;
    margin-top: 20px;
}

.fa-greater-than {
    font-size: 13px;
    margin-left: 5px;
}

.album img {
    margin-top: 20px;
    margin-right: 80px;
    height: 430px;
    width: 420px;
}

/*--------------------- 
     header style end 
------------------------*/
/*---------------------- 
   first section style
-----------------------*/
.section-one {
    margin-top: 70px;
    margin-left: 100px;
    display: flex;
}

.link-item {
    height: 252px;
    width: 230px;
    border: 1px solid #161616;
    border-radius: 10px;
    background-color: #161616;
    margin-right: 20px;
}

.link {
    display: grid;
    grid-template-columns: repeat(1fr);

}

.link a {
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}

.coming-match {
    border: 1px solid #161616;
    border-radius: 30px;
    margin-top: 2px;
    background-color: orange;
    color: white;
    border-width: 20px;
    padding: 10px;
}

.blogs {
    border: 1px solid #161616;
    border-radius: 30px;
    border-width: 20px;
    padding: 10px;
    background-color: white;

}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.match {
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 280px;
    height: 200px;
}

.banner {
    display: flex;
    justify-content: center;

}

.banner-one {
    margin: 20px 20px 0 5px;
}

.banner-two {
    margin: 20px 5px 0 20px;
}

.content {
    margin-top: 40px;
}

.match-info {
    text-align: center;
}

.time {
    font-size: 10px;
}

/*------------------------
    footer style start 
------------------------*/
.destination {
    height: 300px;
    width: 100%;
    background-color: #161616;
    margin-top: 100px;
    border: 1px solid #161616;
}

.footer-title {
    color: white;
    text-align: center;
    font-size: 15px;
    margin: 80px 70px 40px 70px;
    border-bottom: 1px solid gray;
    border-width: thin;


}

.menu {
    color: white;
}

.menu ul {
    display: flex;
    justify-content: center;
}

.menu ul li {
    list-style: none;

}

.menu ul li a {
    color: gray;
    text-decoration: none;
    display: flex;
    font-size: 10px;
    padding: 15px;

}

.icons ul {
    display: flex;
    justify-content: center;
}

.icons ul li {
    list-style: none;
}

.fa-brands {
    text-decoration: none;
    font-size: 30px;
    padding: 0 15px;
}

/*--------------------------
     footer style end 
 -------------------------*/